<%= form_with model: @new_transaction do |form| %>
	<%= form.label :amount %>
	<%= form.number_field :amount, step: '.01' %> <br>
	
	<%= form.label :memo %> 
	<%= form.text_field :memo %> <br>

	<%= form.label :cleared %>
	<%= form.check_box :cleared %> <br>

	<%= form.select :account_id, @accounts_with_id %> <br>

	<%= form.select :payee_id, @payees_with_id %> <br>

	<%= form.select :category_id, @categories_with_id %> <br>

	<%= form.submit %>
<% end %>

<ul> 
	<% @transactions.each do |t| %>
		<li> <%= t[:account_name]%>, <%= t[:date]%>, <%= t[:payee]%>, <%= t[:category_group]%>, <%= t[:memo]%>, <%= t[:outflow]%>, <%= t[:inflow]%>  </li>
	<% end %>
</ul>

<ul>
	<% @accounts.each do |account| %>
		<% if not account.deleted %>
			<li> <%= link_to account.name, account_path(account.budget.uid, account) %> </li>
		<% end %>
	<%end%>
</ul>